@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.main-header{
  font-family: 'Montserrat', sans-serif;
}


.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.HomeButton{
  border-radius: 12px;
  position: absolute;
  top:10%;
  left: 0;
  width: 120px;
  transform: translateY(-50%);
}

.HomeButton1{
  border-radius: 8px;
}
